@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
body {
  transition: background-color 0.3s ease, color 0.3s ease; /* Effetto di transizione per il cambio di tema */
}

.dark {
  background-color: #1a202c; /* Colore di sfondo scuro */
  color: white; /* Colore del testo in modalità scura */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
